<html>
<head>
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
	<link 
		rel="stylesheet" 
		type="text/css" 
		href="{{ url_for('static', filename='style.css') }}" 
	/>

</head>

<body>
<h1 class='title'>Perceptron Visualization</h1>
<p>
	This app illustrates how online learning relates to the sequence of training data, as well as how dimensionality aids in classification.
	We draw 26 random vectors, and, mapping them to the alphabet, assign each letter to either the 'consonant' class or the 'vowel' class.
	Select a dimensionality to redraw letter positions in that space.
	To assess how separable the classes are under the current draw, classification via Linear Discriminant Analysis is performed for each random draw.
	The accuracy LDA achieves is shown alongside the perceptron accuracy as a loose upper bound of what can be expected.
	Similarly, the projection of letters onto a decision line is shown for both the perceptron (above) and LDA (below).
</p>
<section>
	<div id='one'>
		<h3 class='title'>Click an error to train the perceptron (red = vowel)</h3>
		{% block body %}
		  {% for letter in letters %}
		  	<span
			  	class='letter'
			  	onclick='getState("{{ letter }}")'
			  	id='{{ letter }}'>{{ letter }}</span>
		  {% endfor %}
	</div>
	<div id='two'>
		<span class='score' id='score'>?</span>
		<h4>Perceptron vs LDA Accuracy Scores</h4>		
	</div>
</section>
  <br>
  <h3 class='title'>Or teach in batches:</h3>
  <button onclick='trainAlphabet()'>Teach it the whole alphabet</button>
  <br>
  <button onclick='trainVowels()'>Teach it the vowels</button>
  <br>
  <button onclick='trainConsonants()'>Teach it the consonants</button>
  <br>
  <button onclick='setSize()'>Set a new size to embed characters differently</button>
  <input type="textbox" id='size' value=""></input>


<div class='container'>
	<h1 class='title'>Separability Plots</h1>
	<h3 class='title'>Current Perceptron Projection</h3>
	<div class='plot'>
		<div id='plot'> </div>
	</div>
	<h3 class='title'>Linear Discriminant Projection</h3>
	<div class='lda_plot'>
		<div id='lda_plot'> </div>
	</div>
	<br>
	<div class='chart'>
		<div id='chart'></div>
	</div>
</div>



<script src="{{ url_for('static', filename='jquery-1.11.0.min-910066fb.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='d3-3.5.0.min-3b564392.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='c3.min-12912fb6.js')}}" type="text/javascript"></script>

<script src="{{ url_for('static', filename='app.js')}}"  type="text/javascript"></script>

{% endblock %}
</body>
